{
  "env": {
    "node": true,
    "mocha": true,
    "chai": true
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "sourceMaps": "inline"
}